{% extends 'base/basic.html' %}
{% load static %}

{% block principal_part %}
    <div class="principal_block" id="Youtube">
        <div class="checking_link">
            <x-field>
                <input class='link_input' type="text" placeholder="Введите ссылку"
                       value="https://youtu.be/iz-iC2RZKOg">
                <span class="close_span">
            &times;
            </span>
            </x-field>
        </div>
        <div class="browse_link"></div>
        <div class="download_links">
        </div>
        <div class="info_link">
            <video id='current_video_streams' autoplay="autoplay" width="400" height="300"
                   controls="controls" poster="video/duel.jpg">
                <source src="" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                Тег video не поддерживается вашим браузером.
            </video>
            <div class="info_link_data">
                <div class="data_item_title">Разрешение —
                    <div class="data_item" id="resolution"></div>
                </div>
                <div class="data_item_title">Видео-кодек —
                    <div class="data_item" id="video_codec"></div>
                </div>
                <div class="data_item_title">Аудио-кодек —
                    <div class="data_item" id="audio_codec"></div>
                </div>
                <div class="data_item_title">Битрейт —
                    <div class="data_item" id="abr"></div>
                </div>
                <div class="data_item_title">Размер —
                    <div class="data_item" id="filesize"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="principal_block_down" id="VK">
        VK
    </div>
    <div class="principal_block_down" id="Soundcloud">
        Soundcloud
    </div>
    <div class="principal_block_down" id="Facebook">
        Facebook
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src={% static "base/js/animation.js" %}></script>
{% endblock %}

{% block js_code %}
    <script>
        $(document).ready(function (urll, title) {
            $('.download_links').on('click', '.preview_button', function () {
                showPreview(all_streams.catalog[this.id]);
            })

            function showPreview(current_stream) {
                let ild = $('.info_link_data')
                let video_block = $('#current_video_streams')
                video_block.attr('src', current_stream['url']);
                document.getElementsByTagName('video')[0].volume = 0.2;
                ild.find('#resolution').html('&nbsp' + current_stream['resolution']);
                ild.find('#video_codec').html('&nbsp' + current_stream['video_codec']);
                ild.find('#audio_codec').html('&nbsp' + current_stream['audio_codec']);
                ild.find('#abr').html('&nbsp' + current_stream['abr']);
                ild.find('#filesize').html('&nbsp' + formatBytes(current_stream['filesize']));
            }

            function formatBytes(bytes, decimals = 2) {
                if (bytes === 0) return '0 Байт';
                const k = 1024;
                const dm = decimals < 0 ? 0 : decimals;
                const sizes = ['Байт', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
                const i = Math.floor(Math.log(bytes) / Math.log(k));
                return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
            }

            $('.browse_link').html('<img class="status_gif" src="/static/base/icons/await.gif">')
            $('.link_input').on('input', function () {
                $('.browse_link').html('<img class="status_gif" src="https://c.tenor.com/I6kN-6X7nhAAAAAi/loading-buffering.gif">');
                $('.status_gif').hide();
                $('.status_gif').fadeIn(500);
                let $this = $(this),
                    val = $this.val();
                if (val.length === 0) {
                    $('.browse_link').html('<img class="status_gif" src="/static/base/icons/await.gif">')
                    $('.status_gif').hide();
                    $('.status_gif').fadeIn(500);
                    return false
                }
                $.ajax({
                    type: "post",
                    dataType: 'json',
                    data: {
                        'url': val,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    url: '../' + "ajax_validate_url/",
                    // on success
                    success: function (response) {
                        if (response.streams[response.streams.length - 1] === true) {
                            let streams = response.streams[0];
                            $('.browse_link').html('<img class="big_status_gif" src="/static/base/icons/ok.gif">');
                            let bsg = $('.big_status_gif');
                            bsg.hide();
                            bsg.fadeIn(500);
                            window.all_streams = {
                                catalog: response.streams[0]
                            };
                            console.log(all_streams.catalog);
                            showPreview(all_streams.catalog[response.streams[0].length - 1])
                            $('.download_links').empty();
                            streams.forEach(function (entry, indexx) {
                                let basic_url = new URL(entry['url'])
                                let basic_title = 'title.' + entry['subtype']
                                //<div class="download_objects_button_inner download_objects_button_a pointers_block download_button"'><a class="download_link" href="` + +'?exp=' + entry['subtype'] + '&link=' + entry['url'].replaceAll('&', 'mozzarella') + `">Скачать</a></div>
                                $('.download_links').append(`
                                <div class="download_objects_button">
                                    <div class="download_objects_button_inner download_objects_button_info block_with_central_text">` + (indexx + 1) + '    ' + entry['type'] + ' - ' + entry['resolution'] + `</div>
                                    <div class="download_links_separator"></div>
                                    <div class="download_objects_button_inner download_objects_button_icon">В)</div>
                                    <div class="download_links_separator"></div>
                                    <div class="download_objects_button_inner download_objects_button_icon pointers_block preview_button" id='` + indexx + `'>Предпросмотр</div>
                                    <div class="download_links_separator"></div>
                                    <a class="download_link" target="_blank" download='` + basic_title + `' href="` + entry['url'] + `&host=` + basic_url.hostname + '&title=' + basic_title.replace('.mp4', '') + `"><div class="download_objects_button_inner download_objects_button_a pointers_block download_button"'>Скачать</div></a>
                                </div>
                                `)

                                $(".download_links").append('<div class="download_block"></div>');
                            });
                        } else {
                            $('.browse_link').html('<img class="big_status_gif" src="/static/base/icons/cross.gif">')
                            $('.big_status_gif').hide();
                            $('.big_status_gif').fadeIn(500);
                            $('.info_link').text(response.streams)
                        }

                    },
                    error: function (response) {
                        $('.browse_link').html('<img class="big_status_gif" src="/static/base/icons/cross.gif">')
                        $('.big_status_gif').hide();
                        $('.big_status_gif').fadeIn(500);
                    }
                });
                return false;
            });
        })
    </script>
{% endblock %}